<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/ui.js' %}"></script>
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'form_page' 'gamyba' %}">Gamyba</a></li>
                <li><a href="{% url 'form_page' 'pardavimai' %}">Pardavimai</a></li>
                <li><a href="{% url 'form_page' 'paslaugos' %}">Paslaugos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <p>&copy; {% now "Y" %} Your Website Name</p>
        <!-- Add footer content here -->
    </footer>
</body>
</html>